
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin-top: 6rem;
  margin-left: 12rem;
  margin-right: 12rem;
  background-image: url("https://www.swayfinance.com/images/bigbackground.png");
  font-family: 'Roboto', sans-serif;
  color: white;

}

a {
  color: #728993;
}

}

.text-block {
  text-align: center;
  margin-top: 15%;

}
/*
.text-block > h1 {
  letter-spacing: 0.075em;
  font-weight: lighter;

}

.text-block > h4 {
  font-weight: lighter;

}
*/
.nav-item {
  padding-left: 20px;

}
#logo {
  width: 15%;
  float: left;

}

#nav-menu {
  list-style-type: none;
  display: inline-block;
  float: right;
  font-size: 16px;
  margin: 0;

}

#nav-menu > li {
  display: inline;
  padding-left: 20px;


}
/*
.slack-pic {
  width: 100%;
  margin-top: 5%;
  border: 0;

}
*/
